<!-- <div class="pager" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="15px">
  <div class="pagerItem" (click)="goToPreviousPage()">
    Previous
  </div>
  <div>
    {{ pageNumber }} / {{ numPages }}
  </div>
  <div class="pagerItem" (click)="goToNextPage()">
    Next
  </div>
</div> -->
<div fxLayout="row wrap">
  <div class="comicbox" fxLayout="column" fxLayoutAlign="start center" *ngFor="let item of displayedComics">

    <div style="width:150px; height:230px; background-color: black; position: relative">
      <!-- <div *appInView [id]="item.id" class="thumb"  [style]="getStyle(item)" (click)="openDialog(item)" (mouseover)="item.hover=true" (mouseleave)="item.hover=false">
        <div *appInView [id]="item.id" class="thumb" [attr.klodvik]="setBackgroundImage(item)" (click)="openDialog(item)" (mouseover)="item.hover=true" (mouseleave)="item.hover=false">
      <! -- <div *appInView class="thumb"  [style]="getStyle(item)"       [style.background-image]="getBackgroundImage(item)"              (click)="openDialog(item)" (mouseover)="item.hover=true" (mouseleave)="item.hover=false"> -- >
        <div class="comic-missing" *ngIf="item.missing">
          &nbsp;
        </div>
      </div> -->

      <!-- <ng-container *ngIf="!item.missing"> -->
        <img [id]="item.id" [ngClass]="item.class" [src]="item.thumbnailPath" (click)="openDialog(item)" loading="lazy">
          <!-- <div *appInView [id]="item.id" class="thumb" [attr.klodvik]="setBackgroundImage(item)" (click)="openDialog(item)" (mouseover)="item.hover=true" (mouseleave)="item.hover=false"> -->
                  <!-- </ng-container>

      <ng-container *ngIf="item.missing">
        <div [id]="item.id" class="thumb missing" [style.background-image]="item.style" (click)="openDialog(item)">
        </div>
      </ng-container> -->

      <div class="comic-publisher" *ngIf="this.displayPublisher" style="position: absolute; left:0; bottom: 0px; right: 0;">
        {{ item.publisher }}
      </div>

      <div class="comic-collection" *ngIf="item.collection" style="position: absolute; left:0; top: 0px; right: 0;">
        {{ item.collection }}
      </div>
    </div>

    <div class="comicinfo" style="position: relative; ">
      <div fxLayout="row" style="margin-bottom: 3px;" fxLayoutGap="5px;">
        <div class="number-circle2" *ngIf="item.number">
          <span class="number">
            {{item.number}}
          </span>
        </div>
        <div  class="number-circle" *ngIf="item.seqNumber">
          <span class="number">
            {{item.seqNumber}}
          </span>
        </div>
      </div>
      <div class="hero">{{item.hero}}</div>
      <div class="title">{{item.title}}</div>
      <div class="hero" *ngIf="item.hero2">{{item.hero2}}</div>
      <div class="title" *ngIf="item.title2">{{item.title2}}</div>
      <a href="{{ environment.server + item.path}}" style="float: right; color: white; position: absolute; bottom: 0; right: 0;"  *ngIf="!item.missing">
        <mat-icon class="icon">
          download
        </mat-icon>
      </a>
  </div>
  </div>
</div>
