.comicbox {
  margin:5px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  padding-top: 20px;
}

.thumb {
  width:150px;
  height:230px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: border 0.2s ease, background-color 0.5s ease, all 0.3s ease;
  border: 0;
}

.thumb:hover {
  background-color: rgba(0,0,0,.2);
  background-blend-mode: darken;
  box-shadow: 0 0 32px rgba(0,0,0,.2);
  transition: border 0.2s ease, background-color 0.5s ease, all 0.3s ease;
}

.comicinfo {
  /* margin:2px; */
  width: 150px;
  /* height:110px; */
  padding: 2px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: normal;
  color: white;
}

.comicinfo-missing {
  background: rgba(155, 0, 0, 0.8);
}

.comic-collection {
  position: relative;
  /* width: 196px; */
  background-color: rgba(128, 255, 0, 0.8);
  color: black;
  border-radius: 5px;
  /* background: rgba(0, 105, 0, 0.8);
  color: white; */
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}

.comic-missing {
  height: 2px;
  width: 150px;
  margin: 0px;
  border-radius: 50%;
  /* float: right; */
  background: rgba(155, 0, 0, 0.8);
  color: white;
  text-align: center;
}

.number-circle {
  float: right;
  background-color: steelblue;
  color: black;
  border-radius: 5px;
  width:28px;
  height:10px;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
  line-height: 8px;
  padding: 1px;
}

.number-circle2 {
  float: right;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  width:28px;
  height:10px;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
  line-height: 8px;
  padding: 1px;
}

.number {
  margin-top: 5px;
  font-size: 10px;
}

.hero {
  color: deepskyblue;
  font-size: 12px;
}

.title {
  /* font-weight: bold; */
  color: darkorange;
  font-size: 12px;
  /* margin-top: 5px; */
}
