.thumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  float: left;
  width:150px;
  height:230px;
  margin: 15px;
  padding: 0px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,.2);
  /* box-shadow: 0 0 2px rgba(0,0,0,.35); */
  border: 0px solid transparent;
  transition: all 1.0s ease-in-out;
  /* background-image: url(http://felix.si/17289-26939-large/top-cats-2021-koledar-30x30-gs.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
}

.thumb:hover {
  /* background-image: linear-gradient(white, white), url(http://felix.si/17289-26939-large/top-cats-2021-koledar-30x30-gs.jpg); */
  background-blend-mode: darken !important;
  box-shadow: 0 0 32px rgba(0,0,0,.2);
  border: 0px solid yellow;
  transition: border 0.2s ease, background-color 0.5s ease, all 0.3s ease;
}

*, :after, :before {
  box-sizing: border-box;
}

.comicinfo {
  background-color: rgba(0, 0, 0, 0.7);
}
