.search-form {
  min-width: 150px;
  width: 100%;
  margin-top: 20px;
}

.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.search-label {
  margin-left: 15px;

}

.form-field-wrapper {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.search-field {
  font-size: 12px;
  color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}
